---
import Layout from '../layouts/Layout.astro';
import projects from '../data/projects.json';
---

<Layout title="Projects | Stackin Paper">
  <main class="max-w-4xl mx-auto px-6 py-12">
    <h1 class="text-2xl md:text-5xl text-[#bdaa8b] tracking-tight whitespace-nowrap overflow-hidden font-serif">
        Projects
	</h1>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
      {projects.map((project) => (
        <a 
          href={project.url} 
          target="_blank"
          class="group relative flex items-center bg-blue-400/20 hover:bg-blue-400/30 p-8 rounded-2xl transition-all duration-300 hover:-translate-y-2 hover:shadow-xl border border-blue-200/50"
        >
          <div class="text-5xl filter drop-shadow-sm group-hover:scale-110 transition-transform">
            📝
          </div>
          
          <div class="ml-8">
            <h2 class="text-2xl font-bold text-slate-900 uppercase leading-none mb-2">
              {project.name}
            </h2>
            <p class="text-slate-600 text-sm font-medium line-clamp-2">
              {project.description}
            </p>
            <div class="mt-4 flex items-center text-xs font-bold uppercase tracking-widest text-blue-600">
              Explore Repository 
              <span class="ml-2 group-hover:translate-x-2 transition-transform">→</span>
            </div>
          </div>
        </a>
      ))}
    </div>
  </main>
</Layout>